@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* html {
  cursor:none;
}

#circularcursor {
  background-color: rgba(255, 255, 255, 0.750);
  border: 2px solid black;    
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, width 0.1s ease, height 0.1s ease;
}

#circularcursor.clicked {
  transform: translate(-50%, -50%) scale(1.0);
  width: 20px; 
  height: 20px;
}

@media (max-width: 768px) {
  #circularcursor {
    display: none;
  }
}
*/

img {
    border-radius: 50%;
    border: 3px solid white;
}


/* nav {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 10px 0;
  z-index: 1000;
}*/



nav ul li a {
  color: white;
  text-decoration: none;
  font-family: Inter;
  font-weight: bolder;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 5x 5px;
  border-radius: 5px;
  font-size:medium;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.178);
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  background-color:rgb(22, 22, 22);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h1 {
  color: white;
  font-family: Inter;
  font-weight: bold;
}

.pfp {
  display: flex;
  justify-content: center;
}

.username {
  display: flex;
  justify-content: center;
  margin-bottom: -40px;
}

.pronoun {
  font-family: Inter;
  display: flex;
  justify-content: center;
  color: gray;
}

.description {
  font-family: Inter;
  display: flex;
  justify-content: center;
  color: white;
}

a {
  font-size: xx-large;
  color: white;
  transition: transform 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.2);
}

.footer-text {
  font-size: 0.8em;
  color: white;
}

footer {
  font-family: Inter;
  position: fixed; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 100%;
  text-align: center;
}

#links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin-top: 15px;
}
