@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

img {
    border-radius: 50%;
    border: 3px solid white;
}


/* nav {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 10px 0;
  z-index: 1000;
}*/

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: Inter;
  font-weight: bolder;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 5x 5px;
  border-radius: 5px;
  font-size:medium;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.178); /* Add background color on hover */
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  background: hsla(267, 85%, 24%, 1);

  background: radial-gradient(circle, hsla(267, 85%, 24%, 1) 0%, hsla(0, 0%, 0%, 1) 85%);
  
  background: -moz-radial-gradient(circle, hsla(267, 85%, 24%, 1) 0%, hsla(0, 0%, 0%, 1) 85%);
  
  background: -webkit-radial-gradient(circle, hsla(267, 85%, 24%, 1) 0%, hsla(0, 0%, 0%, 1) 85%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#390973", endColorstr="#000000", GradientType=1 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h1 {
  color: white;
  font-family: Inter;
  font-weight: bold;
}

.pfp {
  display: flex;
  justify-content: center;
}

.username {
  display: flex;
  justify-content: center;
  margin-bottom: -40px;
}

.pronoun {
  font-family: Inter;
  display: flex;
  justify-content: center;
  color: gray;
}

.description {
  font-family: Inter;
  display: flex;
  justify-content: center;
  color: white;
}

a {
  font-size: xx-large;
  color: white;
  transition: transform 0.4s ease-in-out;
}

a:hover {
  transform: scale(1.2);
}

.footer-text {
  font-size: 0.8em;
  color: white;
}

footer {
  font-family: Inter;
  position: fixed; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 100%;
  text-align: center;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin-top: 15px;
}
