img {
    border-radius: 50%;
  }
body {
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,1) 10%, rgba(60,9,121,1) 50%, rgba(0,0,0,1) 90%);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; /* Remove default margin */
}

h1 {
  color: white;
  font-family: Inter;
  font-weight: bold;
}

.pfp {
  display: flex;
  justify-content: center;
}

.username {
  display: flex;
  justify-content: center;
  margin-bottom: -40px; /* Reduce the bottom margin */
}

.pronoun {
  font-family: Inter;
  display: flex;
  justify-content: center;
  color: gray;
}

.description {
  font-family: Inter;
  display: flex;
  justify-content: center;
  color: white;
}

a {
  font-size: xx-large;
  color: white;
  transition: color 0.3s;
}

a:hover {
  color: #c2c2c2; /* Change this to the desired hover color */
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add some space between icons */
  margin-top: 20px; /* Adjust as needed */
}
