<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta property="og:title" content="Smit's Homepage" />
        <meta property="og:type" content="website" />
        {% if current_url is defined %}
        <meta property="og:url" content="{{ current_url }}" />
        {% else %}
        <meta property="og:url" content="{{ get_url(path='404.html') }}" />
        {% endif %}
        <meta property="og:description" content="{{ config.description }}" />
        <meta property="og:image" content="{{ get_url(path='og.png') }}" />
        <meta property="og:image:alt" content="White abstract artwork and Smit's Homepage in white text on a black background." />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Smit's Homepage" />
        <meta name="twitter:description" content="{{ config.description }}" />
        <meta name="twitter:image" content="{{ get_url(path='og.png') }}" />
        <meta name="twitter:image:alt" content="White abstract artwork and Smit's Homepage in white text on a black background." />
        <title>Smit's Blog</title>
        <link
            rel="stylesheet"
            href="{{ get_url(path='site.css', cachebust=true) }}"
        />
        <script
            type="module"
            src="{{ get_url(path='code-copy.js', cachebust=true) }}"
        ></script>
        <script
            type="module"
            src="{{ get_url(path='heading-links.js', cachebust=true) }}"
        ></script>
    </head>

    <body>
        <section class="section">
            <div class="container{% block container_class %}{% endblock container_class %}">
                {% block content %} {% endblock content %}
            </div>
        </section>
    </body>
</html>
